flask
flask-sock
gevent
gevent-websocket
requests
openpyxl
python-docx
pymysql
DBUtils
langchain
langchain-core
apscheduler
aiohttp
nest_asyncio
opencv-python-headless
numpy
onnxruntime
PyPDF2
oss2
handrightbeta
Pillow
